.nav__list {
    justify-self: center;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    
    &-link {
        font-size: 18px;
        transition: opacity .3s ease-in;
        &:hover {
            opacity: .8;
        }

        &--menu {
            display: flex;
            align-items: center;
            gap: 8px;

            &::after {
                content: url(../img/header/arrow-down.svg);
                height: 24px;

                transition: transform .3s ease-in;
            }

            // &:hover::after {
            //     transform: rotate(-180deg);
            // }
        }
    }
    &-item {
        position: relative;
    }
    &-menu {
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        pointer-events: none;
        background: $bg-footer;
        padding: 20px;
        border-radius: 10px;
        width: 140px;

        transform: translate(0%, 10%);

        transition: all .3s ease-in;
    }
}

.nav__list-item:hover  .nav__list-link--menu::after {
    transform: rotate(-180deg);
}

.nav__list-item:hover .nav__list-menu {
    pointer-events: all;
    opacity: 1;
    transform: translate(0%, 0%);
}
