body {
    color: $color-main;
    font-family: $font-main;

    a {
        color: $color-main;
    }
}
.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;

    &--small {
        max-width: 1094px;
    }
}

.none {
    display: none !important;
}
.link {
    display: inline-flex;
    align-items: center;
    gap: 13px;

    color: $color-orange;
    font-size: 14px;
    line-height: 1.85;

    transition: gap .3s ease-in;

    &::after {
        content: url(../img/benefits/arrow.svg);
        height: 24px;
    }

    &:hover {
        gap: 20px;
    }
}
.logo {
    // font-size: 28px;
    font-size: clamp(1.125rem, 0.946rem + 0.89vw, 1.75rem);
    font-weight: 700;
    text-transform: capitalize;
    color: $color-main !important;
}
.title {
    // font-size: 42px;
    font-size: clamp(2rem, 1.702rem + 1.49vw, 2.625rem);
    font-weight: 700;
}