@mixin decorNumber {
    opacity: 0.02;

    font-size: 400px;
    font-family: $font-accent;

    position: absolute;
    top: 0;
    z-index: -1;

    line-height: 1.15;
}
@mixin mediaLeptop {
    @media  screen and (max-width: 1399px) {
        @content
    }
};

@mixin mediaTablet {
    @media  screen and (max-width: 992px) {
        @content
    }
};
@mixin mediaMobileXL {
    @media  screen and (max-width: 819px) {
        @content
    }
};
@mixin mediaMobile {
    @media  screen and (max-width: 629px) {
        @content
    }
};