//  Font Family
$font-main: 'Gilroy', sans-serif;
$font-accent: 'Inter', sans-serif;
$font-second: 'DM Sans', sans-serif;

// Background
$bg-main: #fff;
$bg-accent: #F7F7F7;
$bg-add-btn: #0D1B39;
$bg-orange: #E58411;
$bg-footer: #2D2F33;
$bg-sky-blue: #00D6C9;
$bg-light-gray: #EEEEEE;
$bg-gray: #7C7C7C;

// Color 
$color-main: #fff;
$color-accent: #1E1E1E;
$color-orange: #E58411;
$color-blue: #0D1B39;
$color-light-gray: #8D8D8D;